name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Install RISC-V toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-riscv64-unknown-elf

          # Create alias since apt installs as riscv64-unknown-elf-as
          sudo ln -s /usr/bin/riscv64-unknown-elf-as /usr/local/bin/riscv64-elf-as
          sudo ln -s /usr/bin/riscv64-unknown-elf-ld /usr/local/bin/riscv64-elf-ld

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y \
            curl \
            xz-utils \
            qemu-user-static \
            binfmt-support
          sudo ln -sf /usr/bin/qemu-riscv32-static /usr/bin/qemu-riscv32

      - name: Cache Zig
        id: cache-zig
        uses: actions/cache@v4
        with:
          path: /opt/zig-x86_64-linux-0.15.0-dev.832+1ca213dab
          key: zig-0.15.0-dev.832+1ca213dab-x86_64-linux

      - name: Install Zig
        if: steps.cache-zig.outputs.cache-hit != 'true'
        run: |
          curl -L https://ziglang.org/builds/zig-x86_64-linux-0.15.0-dev.832+1ca213dab.tar.xz | tar -xJ -C /opt

      - name: Add Zig to PATH
        run: echo "/opt/zig-x86_64-linux-0.15.0-dev.832+1ca213dab" >> $GITHUB_PATH

      - name: Run Cargo
        run: |
          cargo fmt --all -- --check

          cargo clippy --all-targets --all-features -- -D warnings

          cargo build --verbose

          cargo test --verbose
